/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

:root {
    box-sizing: border-box;
    --rad: 2rem;
    --rad_big: 0.4rem;
    --form_background: rgb(241, 241, 241);
    --placeholder_color: rgb(95, 95, 95);
}

body {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    background-image: linear-gradient(to right, #286961, #94c290);
    font-family: "Times New Roman", Times, serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    display: flex;
    justify-content: center; /* x-axis align */
    align-items: center; /* y-axis align */
}

#main {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto 1rem auto;
    border: 1px solid black;
    height: 35rem;
    width: 30rem;
    background-color: var(--form_background);
    border-radius: var(--rad_big) var(--rad_big) var(--rad_big) var(--rad_big); /* makes corners round*/
}

#row {
    /* border: 1px solid black; */
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.column {
    /* border: 1px solid black; */
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
}

.item {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

h1 {
    color: white;
    background-color: rgb(11, 40, 49);
    height: 3rem;
    width: 90%;
    margin-bottom: 5%;
    padding: 5px;
    border-radius: var(--rad) var(--rad) var(--rad) var(--rad);
    font-weight: lighter;
    text-align: center;
}

h4 {
    padding: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

input {
    height: 30px;
    width: 80px;
}

p {
    padding: 1%;
}
