/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

:root {
    box-sizing: border-box;
    font-size: 16px;
    --rad: 2rem;
    --rad_big: 0.4rem;
    --form_background: rgb(241, 241, 241);
    --placeholder_color: rgb(95, 95, 95);
    --h1_background_color: rgb(11, 40, 49);
    --gradient_start: #286961;
    --gradient_end: #94c290;
    --button_color: #5e9578;
}

body {
    min-width: 280px;
    padding: 10px;
    margin: 0;
    font-size: 1.2rem;
    background-image: linear-gradient(to right, var(--gradient_start), var(--gradient_end));
    font-family: "Times New Roman", Times, serif;
    display: flex;
    justify-content: center; /* x-axis align */
    align-items: center; /* y-axis align */
}

#main {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 1rem auto 1rem auto;
    border: 1px solid black;
    height: 35rem;
    width: 30rem;
    background-color: var(--form_background);
    border-radius: var(--rad_big) var(--rad_big) var(--rad_big) var(--rad_big); /* makes corners round*/
}

#row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.column {
    display: flex;
    width: 35%;
    flex-direction: column;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

h1 {
    color: white;
    background-color: var(--h1_background_color);
    height: 3rem;
    width: 90%;
    margin-bottom: 5%;
    padding: 5px;
    border-radius: var(--rad) var(--rad) var(--rad) var(--rad);
    font-weight: lighter;
    text-align: center;
}

h4 {
    padding: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

input {
    height: 30px;
    max-width: 80px;
    width: 15vw;
}

select {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
}

/* .select-selected { */
/*   background-color: red; */
/* } */

button {
    justify-self: center;
    align-self: center;
    width: 30%;
    height: 5%;
    /* background-color: var(--button_color); */
    background-color: var(--gradient_start);
    color: white;
    font-size: 1rem;
    /* border: 1px solid black; */
    border-radius: var(--rad) var(--rad) var(--rad) var(--rad);
}

button:hover {
    background-color: var(--h1_background_color);
}

button:disabled {
    background-color: grey;
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 2.2rem;
        height: 2.8rem;
    }
}
@media screen and (max-width: 400px) {
    h1 {
        font-size: 2.0rem;
        height: 2.6rem;
    }
}
@media screen and (max-width: 350px) {
    h1 {
        font-size: 1.7rem;
        height: 2rem;
    }
}
@media screen and (max-width: 300px) {
    h1 {
        font-size: 1.5rem;
        height: 1.7rem;
    }
}
