/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

:root {
    box-sizing: border-box;
    font-size: 16px;
    --rad: 2rem;
    --rad_big: 1.5rem;
    --form_background: #94c290;
    --h1_background_color: rgb(11, 40, 49);
}

body {
    padding: 10px;
    margin: 0;
    font-size: 1.2rem;
    background: var(--form_background);
    font-family: "Times New Roman", Times, serif;
    display: flex;
    justify-content: center; /* x-axis align */
    align-items: center; /* y-axis align */
}

#page {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 1rem auto 1rem auto;
    height: 35rem;
    width: 30rem;
    border-radius: var(--rad_big);
    box-shadow: 20px 20px 60px #7ea57a, -20px -20px 60px #aadfa6;
}

.container {
    display: grid;
    grid-template-areas:
        "dist-tag item-dl item-dr"
        "weight-tag item-wl item-wr"
        "temp-tag item-tl item-tr"
        "height-tag item-hl item-hr";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 0px 10px;
    /* padding: 10px; */
    text-align: center;
}

#dist-tag {
    grid-area: dist-tag;
}

#weight-tag {
    grid-area: weight-tag;
}

#temp-tag {
    grid-area: temp-tag;
}

#height-tag {
    grid-area: height-tag;
}

#item-dl {
    grid-area: item-dl;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}

#item-dr {
    grid-area: item-dr;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}

#item-wl {
    grid-area: item-wl;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}

#item-wr {
    grid-area: item-wr;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}

#item-tl {
    grid-area: item-tl;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}

#item-tr {
    grid-area: item-tr;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}

#item-hl {
    grid-area: item-hl;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}

#item-hll {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
}

#item-hlr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}

#ft-tag,
#in-tag {
    padding-left: 5px;
}

#cm-tag {
    padding-right: 15px;
}

#item-hr {
    grid-area: item-hr;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}

.item {
    margin: 10px;
    padding: 0 0px;
    text-align: center;
}

h1 {
    color: white;
    background-color: var(--h1_background_color);
    height: 3rem;
    width: 90%;
    margin-bottom: 5%;
    padding: 5px;
    border-radius: var(--rad) var(--rad) var(--rad) var(--rad);
    font-weight: lighter;
    text-align: center;
}

h4 {
    padding: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

input {
    height: 30px;
    max-width: 80px;
    width: 15vw;
}

#height-ft,
#height-in {
    height: 30px;
    max-width: 40px;
    width: 15vw;
}

button {
    justify-self: center;
    align-self: center;
    width: 30%;
    height: 5%;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: var(--rad);
    margin-top: 10px;
    box-shadow: inset 20px 20px 50px #4a6148, inset -20px -20px 50px #deffd8;
}

button:hover {
    box-shadow: inset 20px 20px 50px #3b4e3a, inset -20px -20px 50px #edffe6;
}

button:disabled {
    box-shadow: inset 20px 20px 50px #787878, inset -20px -20px 50px #f8f8f8;
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 2.2rem;
        height: 2.8rem;
    }
    #page {
        width: 23.8rem;
    }
}
@media screen and (max-width: 400px) {
    h1 {
        font-size: 2rem;
        height: 2.6rem;
    }
    h4 {
        padding-left: 0.5rem;
    }
    #page {
        width: 22rem;
    }
}
@media screen and (max-width: 375px) {
    h1 {
        font-size: 1.7rem;
        height: 2rem;
    }
    #page {
        width: 21rem;
    }
    #ft-tag,
    #in-tag {
        padding-left: 1pt;
    }
    #cm-tag {
        padding-left: 1pt;
    }
    .item {
        margin: 7px;
    }
}
@media screen and (max-width: 330px) {
    h1 {
        font-size: 1.5rem;
        height: 1.7rem;
    }
    h4 {
        font-size: 1rem;
        margin-block-start: 1.3em;
        margin-block-end: 1em;
    }
    #ft-tag,
    #in-tag {
        padding-left: 0;
    }
    #cm-tag {
        padding-left: 0;
    }
    .container {
        gap: 0 0;
    }
    .item {
        margin: 5px;
    }
    #page {
        padding: 0;
        width: 17rem;
    }
}

@media screen and (max-width: 280px) {
    .item {
        margin: 2px;
    }
    #page {
        padding: 0;
        width: 16rem;
    }
}
